:root {
  --main-bg-color: #151515;
  --main-accent-color: #cfb991;
  --secondary-accent-color: #555960;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
}

input:focus {
  outline: none;
}

.warning-label {
  color: red;
}

/* Login Page Styling */

#login-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#login-container #logo-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20em;
}

#login-container #controls-container {
  width: 40%;
}

#login-container #controls-container h1 {
  font-size: 3em;
}

#login-container #controls-container h2 {
  font-size: 2em;
}

#create-account-button {
  width: 200px;
  background-color: var(--secondary-accent-color);
  border: 2px solid var(--secondary-accent-color);
  font-size: 1em;
  color: var(--main-accent-color);
  padding: 7px;
  border-radius: 20px;
  margin-bottom: 40px;
}

#create-account-button:hover {
  background-color: var(--main-bg-color);
}

#sign-in-button {
  width: 200px;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-accent-color);
  color: var(--main-accent-color);
  font-size: 1em;
  padding: 7px;
  border-radius: 20px;
}

#sign-in-button:hover {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
}


/* Account Creation Page Styling */
#create-account-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#create-account-container #info-container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid var(--main-accent-color);
  color: var(--main-accent-color);
  border-radius: 10px;
  min-width: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#create-account-container #info-container input {
  width: 80%;
  margin-left: 10%;
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 3px;
}

#create-account-container #info-container input:focus {
  outline: none;
  border: 1px solid var(--main-accent-color);
}

#create-account-container #info-container .upper-label {
  margin-top: 30px;
}

#create-account-container #info-container label {
  font-size: 0.8em;
  margin-left: 10%;
}

#create-account-container #info-container h1 {
  margin-left: 10%;
}

#create-account-container #info-container img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-left: 42.5%;
  margin-bottom: 15px;
}

#create-account-container #info-container button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
  font-size: 0.85em;
  background-color: var(--main-accent-color);
  border: 2px solid var(--main-accent-color);
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
}

#create-account-container #info-container button:hover {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
  font-size: 0.85em;
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  border: 2px solid var(--main-accent-color);
  border-radius: 15px;
}

/* Sign In Page Styling */
#sign-in-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#sign-in-container #info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 40%;
  color: var(--main-accent-color);
  border: 1px solid var(--main-accent-color);
  border-radius: 10px;
  font-size: 0.8em;
}

#sign-in-container #info-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 80%;
}

#sign-in-container #info-container .input-container input {
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 3px;
}

#sign-in-container #info-container button {
  width: 80%;
  font-size: 1.15em;
  background-color: var(--main-accent-color);
  border: 2px solid var(--main-accent-color);
  border-radius: 25px;
  padding: 10px;
}

#sign-in-container #info-container h1 {
  font-size: 2.5em;
  width: 80%;
}

#sign-in-container #info-container button:hover {
  border: 2px solid var(--main-accent-color);
  background-color: black;
  color: var(--main-accent-color);
}